<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Seair - Eximpedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Eximpedia - One Subscription – Multiple Users – 18+ Countries And More Added Every Month!"
    name="description" />
  <meta content="3ioThemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="/images/favicon.png">
  <!-- App css -->

  <link href="/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/app.min.css" rel="stylesheet" type="text/css" />

  <style>
    @media (min-width: 1200px) {
      .container-fluid {
        max-width: 98%;
      }
    }

    .right-bar-action-data-column-enabled #action-right-data-column-visibility .right-bar-action,
    .right-bar-filter-hscode-enabled #filter-right-hscode .right-bar-filter,
    .right-bar-filter-company-enabled #filter-right-company .right-bar-filter,
    .right-bar-filter-country-enabled #filter-right-country .right-bar-filter,
    .right-bar-filter-port-enabled #filter-right-port .right-bar-filter,
    .right-bar-filter-quantity-enabled #filter-right-quantity .right-bar-filter,
    .right-bar-filter-price-enabled #filter-right-price .right-bar-filter,
    .right-bar-filter-month-enabled #filter-right-month .right-bar-filter {
      right: 0;
    }

    .right-bar-action-data-column-enabled .rightbar-overlay,
    .right-bar-filter-hscode-enabled .rightbar-overlay,
    .right-bar-filter-company-enabled .rightbar-overlay,
    .right-bar-filter-country-enabled .rightbar-overlay,
    .right-bar-filter-port-enabled .rightbar-overlay,
    .right-bar-filter-quantity-enabled .rightbar-overlay,
    .right-bar-filter-price-enabled .rightbar-overlay,
    .right-bar-filter-month-enabled .rightbar-overlay {
      display: block;
    }

    .right-bar {
      width: 320px;
      right: -360px;
    }

    .rightbar-content .checkbox label {
      width: 90%;
    }

    hr {
      border-top: 1px solid #d0d0d0;
    }

    .summary-bar-compressed {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    #topnav {
      background: #175290;
    }

    td.details-control {
      background: url('assets/images/details_open_material.png') no-repeat center center;
      cursor: pointer;
    }

    tr.shown td.details-control {
      background: url('assets/images/details_close_material.png') no-repeat center center;
    }

    .rightbar-title .noti-icon {
      color: #ffffff;
    }

    #records-table .checkbox {
      display: inline-flex;
    }

    /* table.table {
            width: 100% !important;
            padding: 0px;
            margin: 0px !important;
        }

        .table-striped tbody tr:nth-of-type(even) {
            background-color: #ffffff;
        } */

    #search-bar-tools {
      display: flex;
    }

    #search-bar-tools button {
      margin: auto;
    }



    /* Page CSS */

    .card-option-menu {
      background: rgb(245, 246, 248);
      border: 1px solid rgb(230, 230, 230);
      box-shadow: 0px 0px 5px 0px #9e9e9e;
    }

    .card-highlight-content {
      border-radius: 4px;
      background-color: #f5f6f8;
      padding: 8px;
    }

    .flag-sm {
      width: 2.25rem;
    }
  </style>


</head>

<body>

  <!-- Navigation Bar-->
  <header id="topnav">

    <!-- Topbar Start -->
    <div class="navbar-custom">
      <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">

          <li class="dropdown notification-list">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle nav-link">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>

          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="fas fa-newspaper noti-icon"></i>
              <span class="badge badge-danger rounded-circle noti-icon-badge">1</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5 class="m-0">
                  <span class="float-right">
                    <a href="" class="text-dark">
                      <small>10 Categories</small>
                    </a>
                  </span>News
                </h5>
              </div>

              <div class="slimscroll noti-scroll">

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">Services</p>
                  <p class="text-muted mb-0 user-msg">
                    <small>Check available subscription plans</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-comment-account-outline"></i>
                  </div>
                  <p class="notify-details">Information
                    <small class="text-muted">1 min ago</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">Database</p>
                  <p class="text-muted mb-0 user-msg">
                    <small>Wow ! this admin looks good and awesome design</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">Contact & Support
                    <small class="text-muted">5 hours ago</small>
                  </p>
                </a>

              </div>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                View all
                <i class="fi-arrow-right"></i>
              </a>

            </div>
          </li>

          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-book-open-page-variant noti-icon"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5 class="m-0">
                  <span class="float-right">
                    <a href="" class="text-dark">
                      <small>23 Topics</small>
                    </a>
                  </span>FAQ's
                </h5>
              </div>

              <div class="slimscroll noti-scroll">

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">Services</p>
                  <p class="text-muted mb-0 user-msg">
                    <small>Check available subscription plans</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-comment-account-outline"></i>
                  </div>
                  <p class="notify-details">Information
                    <small class="text-muted">1 min ago</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">Database</p>
                  <p class="text-muted mb-0 user-msg">
                    <small>Wow ! this admin looks good and awesome design</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">Contact & Support
                    <small class="text-muted">5 hours ago</small>
                  </p>
                </a>

              </div>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                View all
                <i class="fi-arrow-right"></i>
              </a>

            </div>
          </li>

          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="fe-bell noti-icon"></i>
              <span class="badge badge-danger rounded-circle noti-icon-badge">9</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5 class="m-0">
                  <span class="float-right">
                    <a href="" class="text-dark">
                      <small>Clear All</small>
                    </a>
                  </span>Notification
                </h5>
              </div>

              <div class="slimscroll noti-scroll">

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                  <div class="notify-icon">
                    <img src="/images/users/user-1.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                  <p class="notify-details">Cristina Pride</p>
                  <p class="text-muted mb-0 user-msg">
                    <small>Hi, How are you? What about our next meeting</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-primary">
                    <i class="mdi mdi-comment-account-outline"></i>
                  </div>
                  <p class="notify-details">Caleb Flakelar commented on Admin
                    <small class="text-muted">1 min ago</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon">
                    <img src="/images/users/user-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                  <p class="notify-details">Karen Robinson</p>
                  <p class="text-muted mb-0 user-msg">
                    <small>Wow ! this admin looks good and awesome design</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning">
                    <i class="mdi mdi-account-plus"></i>
                  </div>
                  <p class="notify-details">New user registered.
                    <small class="text-muted">5 hours ago</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-info">
                    <i class="mdi mdi-comment-account-outline"></i>
                  </div>
                  <p class="notify-details">Caleb Flakelar commented on Admin
                    <small class="text-muted">4 days ago</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-secondary">
                    <i class="mdi mdi-heart"></i>
                  </div>
                  <p class="notify-details">Carlos Crouch liked
                    <b>Admin</b>
                    <small class="text-muted">13 days ago</small>
                  </p>
                </a>
              </div>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                View all
                <i class="fi-arrow-right"></i>
              </a>

            </div>
          </li>

          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <img src="/images/users/user-5.jpg" alt="user-image" class="rounded-circle">
              <span class="pro-user-name ml-1">
                Delton Dsouza <i class="mdi mdi-chevron-down"></i>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
              <!-- item-->
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome !</h6>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-user"></i>
                <span>Account</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-settings"></i>
                <span>Billing</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-settings"></i>
                <span>Payment</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-lock"></i>
                <span>Lock Screen</span>
              </a>

              <div class="dropdown-divider"></div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-log-out"></i>
                <span>Logout</span>
              </a>

            </div>
          </li>

          <li class="dropdown notification-list" hidden>
            <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect">
              <i class="fe-settings noti-icon"></i>
            </a>
          </li>

        </ul>

        <!-- LOGO -->
        <div class="logo-box">
          <a href="/" class="logo text-center">
            <span class="logo-lg">
              <img src="/images/logo-dark-og.png" alt="" height="36">
              <!-- <span class="logo-lg-text-light">UBold</span> -->
            </span>
            <span class="logo-sm">
              <!-- <span class="logo-sm-text-dark">U</span> -->
              <img src="/images/logo-sm-og.png" alt="" height="36">
            </span>
          </a>
        </div>

      </div> <!-- end container-fluid-->
    </div>
    <!-- end Topbar -->

    <div class="topbar-menu">
      <div class="container-fluid">
        <div id="navigation">
          <!-- Navigation Menu-->
          <ul class="navigation-menu">

            <li class="has-submenu">
              <a href="/">
                <i class="fas fa-th"></i>Dashboard</a>
            </li>

            <li class="has-submenu">
              <a href="#">
                <i class="fas fa-database"></i>Data Manager<div class="arrow-down"></div></a>
              <ul class="submenu">
                <li>
                  <a href="/data/manager">Upload Data</a>
                </li>
                <li>
                  <a href="/ledger/files">File Ledger</a>
                </li>
                <li>
                  <a href="/ledger/files">Taxonomy Master</a>
                </li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="#">
                <i class="fas fa-globe"></i>Explore Country Data<div class="arrow-down"></div>
              </a>
              <ul class="submenu">
                <li>
                  <a href="/explore/countries">All Trade Data</a>
                </li>
                <li>
                  <a href="/explore/countries">Import Trade Data</a>
                </li>
                <li>
                  <a href="/explore/countries">Export Trade Data</a>
                </li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="#">
                <i class="fas fa-layer-group"></i>Workspaces<div class="arrow-down"></div>
              </a>
              <ul class="submenu">
                <li>
                  <a href="/workspace/manager">Manage Workspaces</a>
                </li>
                <li>
                  <a href="/explore/countries">Downloads</a>
                </li>
                <li>
                  <a href="/explore/countries">Purchased Records</a>
                </li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="#">
                <i class="fas fa-user-cog"></i>Users<div class="arrow-down"></div>
              </a>
              <ul class="submenu">
                <li>
                  <a href="/explore/countries">View Users</a>
                </li>
                <li>
                  <a href="/explore/countries">Monitor Activity</a>
                </li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="#">
                <i class="fas fa-ticket-alt"></i>Tickets<div class="arrow-down"></div>
              </a>
              <ul class="submenu">
                <li>
                  <a href="/explore/countries">View Tickets</a>
                </li>
                <li>
                  <a href="/explore/countries">Raise Ticket</a>
                </li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="#">
                <i class="fas fa-hand-pointer"></i>Subscriptions<div class="arrow-down"></div>
              </a>
              <ul class="submenu">
                <li>
                  <a href="/explore/countries">Your Subscriptions</a>
                </li>
                <li>
                  <a href="/explore/countries">View Plans</a>
                </li>
              </ul>
            </li>

          </ul>
          <!-- End navigation menu -->

          <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
      </div>
      <!-- end container -->
    </div>
    <!-- end navbar-custom -->

  </header>
  <!-- End Navigation Bar-->

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->


  <div class="wrapper">
    <div class="container-fluid">

      <!-- Header-Bar -->
      <div class="row">
        <div class="col-sm-4">
          <div class="page-title-box">
            <h4 class="page-title">Manage
              <span class="badge bg-soft-blue text-blue">Workspaces</span>
            </h4>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-title-right mt-3" style="display:none">
            <div class="text-sm-right">
              <div class="btn-group mb-3">
                <button type="button" class="btn btn-primary">All</button>
              </div>
              <div class="btn-group mb-3 ml-1">
                <button type="button" class="btn btn-light">Import</button>
                <button type="button" class="btn btn-light">Export</button>
              </div>
            </div>
          </div>
        </div><!-- end col-->
      </div>
      <!-- end row -->

      <!-- Search-Panel-Bar -->
      <div class="row">
        <div class="col-12">
          <div id="search-panel-bar" class="card-box">
            <div class="row">
              <div class="col-lg-10">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="trade-select" class="mr-2 ml-2" style="display:none">Trade</label>
                    <select class="custom-select" id="trade-select">
                    </select>
                  </div>

                  <div class="col-sm-3">
                    <label for="country-select" class="mr-2 ml-4" style="display:none">Country</label>
                    <select class="custom-select" id="country-select">
                    </select>
                  </div>

                  <div class="col-sm-3">
                    <label for="year-select" class="mr-2 ml-4" style="display:none">Year</label>
                    <select class="custom-select" id="year-select">
                    </select>
                  </div>

                  <div class="col-sm-3">
                    <label for="user-select" class="mr-2 ml-4" style="display:none">User</label>
                    <select class="custom-select" id="user-select">
                      <option>Delton Dsouza</option>
                      <option>Amandeep Yadav</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <label for="search-bar-tools" class="mr-2" style="display:none">Actions</label>
                <div id="search-bar-tools" class="button-list">
                  <button type="button" class="cta-search btn btn-secondary waves-effect waves-light mr-1"
                    style="width: 70%;"><i class="fas fa-search"></i> &nbsp;Search</button>
                  <button type="button" class="cta-reset btn btn-outline-secondary waves-effect waves-light mr-1"><i
                      class=" fas fa-redo"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="workspace-result-bar" class="row">

      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-12">
          <div class="text-center mb-3">
            <a href="javascript:void(0);" class="text-danger" hidden><i class="mdi mdi-spin mdi-loading mr-1"></i>
              Load more </a>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row -->

    </div> <!-- end container -->
  </div>
  <!-- end wrapper -->

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

  <!-- Footer Start -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          2019 - 2020 &copy; Developed by <a href="">3iology</a>
        </div>
        <div class="col-md-6">
          <div class="text-md-right footer-links d-none d-sm-block">
            <a href="javascript:void(0);">About Us</a>
            <a href="javascript:void(0);">Help</a>
            <a href="javascript:void(0);">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->

  <!-- Right Sidebar -->
  <div class="right-bar">
    <div class="rightbar-title">
      <a href="javascript:void(0);" class="right-bar-toggle float-right">
        <i class="dripicons-cross noti-icon"></i>
      </a>
      <h5 class="m-0 text-white">Settings</h5>
    </div>
    <div class="slimscroll-menu rightbar-content">
      <!-- User box -->
      <div class="user-box">
        <div class="user-img">
          <img src="/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
          <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
        </div>

        <h5><a href="javascript: void(0);">Geneva Kennedy</a> </h5>
        <p class="text-muted mb-0"><small>Admin Head</small></p>
      </div>

      <!-- Settings -->
      <hr class="mt-0" />
      <h5 class="pl-3">Basic Settings</h5>
      <hr class="mb-0" />

      <div class="p-3">
        <div class="checkbox checkbox-primary mb-2">
          <input id="Rcheckbox1" type="checkbox" checked>
          <label for="Rcheckbox1">
            Notifications
          </label>
        </div>
        <div class="checkbox checkbox-primary mb-2">
          <input id="Rcheckbox2" type="checkbox" checked>
          <label for="Rcheckbox2">
            API Access
          </label>
        </div>
        <div class="checkbox checkbox-primary mb-2">
          <input id="Rcheckbox3" type="checkbox">
          <label for="Rcheckbox3">
            Auto Updates
          </label>
        </div>
        <div class="checkbox checkbox-primary mb-2">
          <input id="Rcheckbox4" type="checkbox" checked>
          <label for="Rcheckbox4">
            Online Status
          </label>
        </div>
        <div class="checkbox checkbox-primary mb-0">
          <input id="Rcheckbox5" type="checkbox" checked>
          <label for="Rcheckbox5">
            Auto Payout
          </label>
        </div>
      </div>

      <!-- Timeline -->
      <hr class="mt-0" />
      <h5 class="pl-3 pr-3">Messages <span class="float-right badge badge-pill badge-danger">25</span></h5>
      <hr class="mb-0" />
      <div class="p-3">
        <div class="inbox-widget">
          <div class="inbox-item">
            <div class="inbox-item-img"><img src="/images/users/user-2.jpg" class="rounded-circle" alt=""></div>
            <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Tomaslau</a></p>
            <p class="inbox-item-text">I've finished it! See you so...</p>
          </div>
          <div class="inbox-item">
            <div class="inbox-item-img"><img src="/images/users/user-3.jpg" class="rounded-circle" alt=""></div>
            <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Stillnotdavid</a>
            </p>
            <p class="inbox-item-text">This theme is awesome!</p>
          </div>
          <div class="inbox-item">
            <div class="inbox-item-img"><img src="/images/users/user-4.jpg" class="rounded-circle" alt=""></div>
            <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Kurafire</a></p>
            <p class="inbox-item-text">Nice to meet you</p>
          </div>

          <div class="inbox-item">
            <div class="inbox-item-img"><img src="/images/users/user-5.jpg" class="rounded-circle" alt=""></div>
            <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Shahedk</a></p>
            <p class="inbox-item-text">Hey! there I'm available...</p>
          </div>
          <div class="inbox-item">
            <div class="inbox-item-img"><img src="/images/users/user-6.jpg" class="rounded-circle" alt=""></div>
            <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Adhamdannaway</a>
            </p>
            <p class="inbox-item-text">This theme is awesome!</p>
          </div>
        </div> <!-- end inbox-widget -->
      </div> <!-- end .p-3-->

    </div> <!-- end slimscroll-menu-->
  </div>
  <!-- /Right-bar -->

  <!-- Right bar overlay-->
  <div class="rightbar-overlay"></div>

  <!-- Vendor js -->
  <script src="/js/vendor.min.js"></script>

  <script src="/libs/sweetalert2/sweetalert2.min.js"></script>

  <script src="/js/features/workspace-manager.js"></script>

  <!-- App js-->
  <script src="/js/app.min.js"></script>

</body>

</html>
